---
import { ViewTransitions } from "astro:transitions";
import MenuInicio from "../components/MenuInicio.vue";
import "@fontsource-variable/montserrat";
import "@fontsource-variable/asap";

const { titulo } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{titulo}</title>
    <ViewTransitions />
  </head>
  <body class="dark:bg-gray-800">
    <MenuInicio client:load />
    <slot />
  </body>
</html>
